Repository nickbrandt/gitlab-ui: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

stylelint:
  run: ./node_modules/.bin/stylelint {staged_files}

markdown-lint:
  run: yarn markdownlint

chore(deps): update dependency @gitlab/eslint-plugin to v9
  documentation/components/example_display.vue
  package.json
  src/components/base/carousel/carousel.vue
  src/components/base/carousel/carousel_slide.vue
  src/components/base/deprecated_dropdown/deprecated_dropdown.vue
  src/components/base/dropdown/dropdown.vue
  src/components/base/form/form_group/form_group.vue
  src/components/base/form/form_select/examples/form_select.mixed_options.example.vue
  src/components/base/form/form_select/form_select.vue
  src/components/base/modal/modal.vue
  src/components/base/paginated_list/examples/paginated_list.with_row_slot.example.vue
  src/components/base/popover/popover.vue
  src/components/base/search_box_by_click/search_box_by_click.vue
  src/components/base/table/examples/table.custom_fields.example.vue
  src/components/base/table/table.vue
  src/components/base/tabs/tab/tab.vue
  src/components/base/tabs/tabs/examples/tabs.counterbadges.example.vue
  src/components/base/tabs/tabs/examples/tabs.custom_title.example.vue
  src/components/base/tabs/tabs/scrollable_tabs.vue
  src/components/base/tabs/tabs/tabs.stories.js
  src/components/base/tabs/tabs/tabs.vue
  src/components/charts/area/area.vue
  src/components/charts/bar/bar.vue
  src/components/charts/column/column.vue
  src/components/charts/discrete_scatter/discrete_scatter.vue
  src/components/charts/line/line.vue
  src/components/charts/sparkline/sparkline.vue
  src/components/charts/stacked_column/stacked_column.vue
  src/components/charts/tooltip/examples/chart_tooltip.basic.example.vue
  src/components/charts/tooltip/tooltip.vue
  yarn.lock
Due: eslint, prettier

docs(safe-html): do not render unsafe html
  src/directives/safe_html/safe_html.stories.js
Due: eslint, prettier

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-carousel-default-carousel-1-snap.png
Due: none

chore: add LinkToSource docs block
  .storybook/docs/blocks/LinkToSource.js
  .storybook/docs/blocks/index.js
  .storybook/docs/page.js
Due: eslint, prettier

refactor: remove unused argument
  .storybook/docs/blocks/ImportInfo.js
Due: eslint, prettier

Improve link's look
  .storybook/docs/blocks/LinkToSource.js
  .storybook/docs/page.js
Due: eslint, prettier

require.context approach
  .storybook/docs/blocks/LinkToSource.js
Due: eslint, prettier

Wrap up new approach and use component name
  .storybook/docs/blocks/LinkToSource.js
Due: eslint, prettier

Leverage fileName property
  .storybook/docs/blocks/LinkToSource.js
Due: eslint, prettier

fix(GlTable): update hover and selected primary background
  src/components/base/table/table.scss
  src/components/base/table/table.stories.js
Due: eslint, prettier

chore: update markdowlint config
  .markdownlint.yaml
  package.json
Due: none

docs: fix formatting issues
  src/components/base/form/form.md
  src/components/base/form/form_radio_group/form_radio_group.md
  src/components/base/form/form_textarea/form_textarea.md
  src/components/base/form/input_group_text/input_group_text.md
  src/components/base/icon/icon.md
  src/components/base/label/label.md
  src/components/base/markdown/markdown.md
  src/components/base/nav/nav.md
  src/components/base/navbar/navbar.md
  src/components/base/table/table.md
  src/components/base/token/token.md
  src/components/base/tooltip/tooltip.md
  src/components/charts/bar/bar.md
  src/components/charts/chart/chart.md
  src/components/charts/gauge/gauge.md
  src/components/charts/heatmap/heatmap.md
  src/components/charts/single_stat/single_stat.md
  src/components/charts/stacked_column/stacked_column.md
  src/components/editors/rich_text_editor/rich_text_editor.md
  src/components/regions/dashboard_skeleton/dashboard_skeleton.md
  src/components/utilities/sprintf/sprintf.md
  src/components/utilities/truncate/truncate.md
  src/directives/safe_html/safe_html.md
Due: markdown-lint

docs: update docs about documenting props, slots and events
  doc/contributing/automatic_documentation.md
Due: markdown-lint

chore(deps): update eslint and related
  package.json
  yarn.lock
Due: none

chore(release): 30.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: markdown-lint

Update spacing.scss
  src/scss/utility-mixins/spacing.scss
Due: none

chore(Favicon): Add storybook favicon
  .storybook/manager-head.html
  src/components/base/carousel/carousel.stories.js
  src/components/base/dropdown/dropdown.stories.js
  src/components/base/dropdown/dropdown_item.stories.js
  src/components/base/dropdown/examples/dropdown.with_avatar_and_secondary_text.example.vue
  src/components/base/token/token.stories.js
  static/img/apple-touch-icon.png
  static/img/favicon.ico
  static/img/icon.svg
Due: eslint, prettier

chore(deps): update dependency dompurify to ^2.3.0
  package.json
  yarn.lock
Due: none

fix(GlFilteredSearch): Stop component mutating `value` prop
  src/components/base/filtered_search/filtered_search.spec.js
  src/components/base/filtered_search/filtered_search.vue
Due: eslint, prettier

feat: Add props to allow adding and hiding labels
  src/components/base/form/form_checkbox_tree/form_checkbox_tree.vue
  src/components/base/form/form_combobox/form_combobox.vue
  src/components/base/form/form_input_group/form_input_group.vue
Due: eslint, prettier

chore: add iframe-resizer script
  .gitignore
  .storybook/preview-head.html
Due: none

chore: remove addon-storysource
  .storybook/main.js
  package.json
  yarn.lock
Due: eslint, prettier

fix(GlLabel): Fix visibility of underline on hover and focus state
  src/components/base/label/label.scss
Due: none

Revert "Merge branch 'renovate/dompurify-2.x' into 'main'"
  package.json
  yarn.lock
Due: none

chore(release): 30.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: markdown-lint

chore(release): 30.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: markdown-lint

chore(deps): update storybook to v6.3.3
  package.json
  yarn.lock
Due: none

fix(GlDrawer): align title and close icon
  src/components/base/drawer/drawer.scss
  src/components/base/drawer/drawer.spec.js
  src/components/base/drawer/drawer.stories.js
  src/components/base/drawer/drawer.vue
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-drawer-with-actions-1-snap.png
Due: eslint, prettier

chore(release): 31.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: markdown-lint

chore(release): 31.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: markdown-lint

chore(deps): update storybook to v6.3.4
  package.json
  yarn.lock
Due: none

feat(css): Add gl-left-50p utility class
  src/scss/utility-mixins/position.scss
Due: none

chore(release): 31.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: markdown-lint

feat(GlSafeHtml): sanitize potentially dangerous data attributes
  src/directives/safe_html/constants.js
  src/directives/safe_html/safe_html.js
  src/directives/safe_html/safe_html.spec.js
Due: eslint, prettier

chore(release): 31.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: markdown-lint

feat(GlSingleStat): Fade units after animation
  src/components/charts/single_stat/single_stat.spec.js
  src/components/charts/single_stat/single_stat.vue
  src/components/utilities/animated_number/animated_number.spec.js
  src/components/utilities/animated_number/animated_number.vue
Due: eslint, prettier

Add mixin to spacing.scss
  src/scss/utility-mixins/spacing.scss
Due: none

chore(GlButton): cleanup stories
  src/components/base/button/button.stories.js
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  stylelint: any of: *.{scss}
  markdown-lint: any of: *.md
