Repository nickbrandt/gitlab-ui: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

stylelint:
  run: ./node_modules/.bin/stylelint {staged_files}

markdown-lint:
  run: yarn markdownlint

chore(GlLink): fix target default value
  src/components/base/link/link.stories.js
Due: eslint, prettier

refactor(ChartTooltip): migrate away from deprecated slot syntax
  src/components/charts/tooltip/tooltip.stories.js
  src/components/charts/tooltip/tooltip.vue
Due: eslint, prettier

feat(css): Add gl-text-theme-indigo-900 mixin
  src/scss/utility-mixins/color.scss
Due: none

chore(release): 31.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: markdown-lint

refactor(GlBarChart): migrate away from deprecated slot syntax
  src/components/charts/bar/bar.spec.js
  src/components/charts/bar/bar.vue
Due: eslint, prettier

feat(css): Add padding size to utility class
  src/scss/utility-mixins/spacing.scss
Due: none

chore(release): 31.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: markdown-lint

feat(GlDrawer): Add sidebar variant
  src/components/base/drawer/drawer.scss
  src/components/base/drawer/drawer.stories.js
  src/components/base/drawer/drawer.vue
  src/utils/constants.js
Due: eslint, prettier

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-drawer-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-drawer-sidebar-variant-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-drawer-with-actions-1-snap.png
Due: none

fix(GlFilteredSearch): Revert "Stop component mutating `value` prop"
  src/components/base/filtered_search/filtered_search.vue
Due: eslint, prettier

chore(release): 31.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: markdown-lint

chore(Themes): Add theme variable use notes
  src/scss/variables.scss
Due: none

feat(GILoadingIcon): change default size
  src/components/base/button/button.vue
  src/components/base/dropdown/dropdown.vue
  src/components/base/loading_icon/loading_icon.stories.js
  src/components/base/loading_icon/loading_icon.vue
  src/components/base/search_box_by_type/search_box_by_type.vue
  src/components/base/toggle/toggle.vue
Due: eslint, prettier

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-loading-icon-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-loading-icon-inline-1-snap.png
Due: none

Update documentation examples
  src/components/base/loading_icon/examples/loading_icon.inline.example.vue
  src/components/base/loading_icon/examples/loading_icon.small.example.vue
Due: eslint, prettier

chore(release): 31.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: markdown-lint

refactor(GlDeprecatedDropdown): Delete GlDeprecatedDropdown component
  documentation/components_documentation.js
  index.js
  src/components/base/deprecated_dropdown/deprecated_dropdown.documentation.js
  src/components/base/deprecated_dropdown/deprecated_dropdown.md
  src/components/base/deprecated_dropdown/deprecated_dropdown.scss
  src/components/base/deprecated_dropdown/deprecated_dropdown.spec.js
  src/components/base/deprecated_dropdown/deprecated_dropdown.stories.js
  src/components/base/deprecated_dropdown/deprecated_dropdown.vue
  src/components/base/deprecated_dropdown/deprecated_dropdown_divider.documentation.js
  src/components/base/deprecated_dropdown/deprecated_dropdown_divider.md
  src/components/base/deprecated_dropdown/deprecated_dropdown_divider.scss
  src/components/base/deprecated_dropdown/deprecated_dropdown_divider.stories.js
  src/components/base/deprecated_dropdown/deprecated_dropdown_divider.vue
  src/components/base/deprecated_dropdown/deprecated_dropdown_header.documentation.js
  src/components/base/deprecated_dropdown/deprecated_dropdown_header.md
  src/components/base/deprecated_dropdown/deprecated_dropdown_header.scss
  src/components/base/deprecated_dropdown/deprecated_dropdown_header.stories.js
  src/components/base/deprecated_dropdown/deprecated_dropdown_header.vue
  src/components/base/deprecated_dropdown/deprecated_dropdown_item.documentation.js
  src/components/base/deprecated_dropdown/deprecated_dropdown_item.md
  src/components/base/deprecated_dropdown/deprecated_dropdown_item.scss
  src/components/base/deprecated_dropdown/deprecated_dropdown_item.stories.js
  src/components/base/deprecated_dropdown/deprecated_dropdown_item.vue
  src/components/base/deprecated_dropdown/examples/deprecated_dropdown.default.example.vue
  src/components/base/deprecated_dropdown/examples/deprecated_dropdown.disabled_item.example.vue
  src/components/base/deprecated_dropdown/examples/deprecated_dropdown.links.example.vue
  src/components/base/deprecated_dropdown/examples/deprecated_dropdown.no_caret.example.vue
  src/components/base/deprecated_dropdown/examples/deprecated_dropdown.split.example.vue
  src/components/base/deprecated_dropdown/examples/deprecated_dropdown.with_divider.example.vue
  src/components/base/deprecated_dropdown/examples/deprecated_dropdown.with_header.example.vue
  src/components/base/deprecated_dropdown/examples/deprecated_dropdown.with_search.example.vue
  src/components/base/deprecated_dropdown/examples/index.js
  src/components/base/dropdown/dropdown.md
  src/scss/components.scss
Due: eslint, prettier, markdown-lint

chore: remove deprecated screenshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-deprecated-dropdown-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-deprecated-dropdown-deprecated-dropdown-divider-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-deprecated-dropdown-deprecated-dropdown-header-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-deprecated-dropdown-deprecated-dropdown-item-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-deprecated-dropdown-deprecated-dropdown-item-with-href-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-deprecated-dropdown-with-divider-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-deprecated-dropdown-with-empty-text-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-deprecated-dropdown-with-header-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-deprecated-dropdown-with-links-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-deprecated-dropdown-with-long-text-and-narrow-width-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-deprecated-dropdown-with-short-text-and-wide-width-1-snap.png
Due: none

fix(GlToggle): Make label required for accessibility
  src/components/base/toggle/toggle.vue
Due: eslint, prettier

refactor: Move documentation entrypoint to documentation/
  documentation.js
  documentation/documented_stories.js
  documentation/index.js
  package.json
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  stylelint: any of: *.{scss}
  markdown-lint: any of: *.md
